.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0b0c10;
    color: white;
  }
  
  nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #66fcf1;
  }
  